@import '../../theme.scss';

.button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    margin-left: 5px;
    background-color: $colorBlue;
    color: #ffffff;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 100;
    transition: all .5s;
    box-shadow: 0px 0px 15x -13px rgba(0,0,0,0.75);
    transition: all .5s;

    &:hover{
        box-shadow: 0px 0px 15px -2px $colorBlue;
    }
    &:active{
        box-shadow: inset 0px 0px 15px -2px rgba(0,0,0,0.3);

    }

    &.light {
        background-color: $colorWhite;
        color: $colorBlue;
        border: 1px solid $colorGrayLight;
    }
}