@import '../../theme.scss';

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-content: space-around;
    @include transition(all .5s);

    &__header{
        position: relative;
        padding: 5px 13px;
        margin-bottom: 30px;
        h1 {
            color: $colorBlack;
            @include font-size(20px);
            margin: 5px 0 2px;
            font-weight: 500;
            letter-spacing: .3px;
        }
        label {
            @include font-size(12px);
            background-color: $colorRed;
            color: $colorWhite;
            padding: 1px 8px 1px 9px;
            border-radius: 2px;
            font-weight: 100;
            margin: 6px 4px;
            vertical-align: top;
            display: inline-block;
            letter-spacing: 0.9px;
        }
        h4 {
            font-weight: 100;
            margin: 0;
            @include font-size(13px);
            letter-spacing: 0.5px;
        }
        button {
            position: absolute;
            right: 14px;
            top: 11px;
            border: 0;
            background: transparent;
            cursor: pointer;
            border-radius: 50%;
            background-color: $colorWhite;
            padding: 5px;
            text-align: center;
            width: 30px;
            height: 30px;
            @include transition(all .5s);

            img {
                width: 12px;
                height: 12px;
            }

            &:hover {
                box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.75);
            }
            &:active {
                box-shadow: inset 0px 0px 11px -6px rgba(0, 0, 0, 0.75);
            }
        }
    }

    &__body {
        width: 920px;
        max-width: 95%;
        height: 327px;
        background-color: $colorWhite;
        margin-top: 100px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 10px 10px 68px -17px rgba(0,0,0,0.75);
        position: relative;
        padding-top: 4px;
        margin-top: 200vh;
        
        &:before{
            content: '';
            @include gradient($colorDarkBlue, $colorLightBlue);
            height: 4px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &-container{
            border: 1px solid $colorGrayLight;
            border-top: 0;
            padding: 10px;
            border-radius: 0 0 5px 5px;
            background-color: $colorWhite;
        }
    }
    &__overlay{
        background-color: #000;
        opacity: .5;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &.is-updated{
         @include animation('fadeOut .5s forwards');
    }

    &.is-active {
        @include animation('fadeIn .3s forwards');
        .modal__body{
             @include animation('fromBottom 1s .3s forwards');
        }
    }
}

@include bp-medium{
    .modal{
        &__header{
            padding-right: 50px;
        }
    }
}
@include keyframes(fadeIn) {
    from {
        z-index: -1;
        opacity: 0;
    }
    to {
        z-index: 1;
        opacity: 1;
    }
}

@include keyframes(fadeOut) {
    from {
        z-index: 1;
        opacity: 1;

    }
    to {
        z-index: -1;
        opacity: 0;
    }
}

@include keyframes(fromBottom) {
    from {
        margin-top: 200vh;
    }
    to {
        margin-top: 100px;
    }
}