@import '../../theme.scss';

.steps-container{
    flex-direction: row;
    display: flex;
    padding: 0 5px;
}

.step-item {
    flex-grow: 1;
    text-align: center;
    width: 100%;

    &__icon{
        display: flex;
        align-items: center;
        &:after,&:before{
            content: "";
            flex-grow: 1;
            height: 2px;
            background-color: $colorGray;
        }
        > span {
            background: $colorGray;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: inline-block;
            text-align: center;
            line-height: 24px;
            margin: 0 5px;
            text-align: center;
            color: $colorWhite;
        }
        img {
            width: 20px;
            margin-top: 3px;
        }
    }
    &__index{
        font-size: 15px;
        display: block;
        text-align: center;
    }
    &__title {
        color: $colorGray;
        padding: 7px 0;
        letter-spacing: 0.4px;
    }
    &__status {
        margin: 2px 0;
        letter-spacing: 0.4px;
    }
    &__status-name {
        color: $colorGray;
        font-size: 0.85em;
    }
    &__status-date {
        color: $colorBlack;
        font-size: 13px;
        margin: 5px 0;
    }

    &:first-child {
        .step-item__icon{
            &:before{
                background-color: transparent !important;
            }
        }
    }

    &:last-child {
        .step-item__icon{
            &:after{
                background-color: transparent !important;
            }
        }
    }

    &.is-done {
        .step-item__index{
            display: none;
        }
        .step-item__icon{

            &:before{
                background-color: $colorGreen;
            }
            > span {
                background: transparent;
                path {
                    fill: $colorGreen;
                }
            }
        }
    }
    &.is-next-done {
        .step-item__icon{

            &:after{
                background-color: $colorGreen;
            }
        }
    }
}