$colorWhite: #ffffff;
$colorGray: #b3b3b3;
$colorGrayLight: #DEDEDE;
$colorBlack: #000;
$colorGreen: #6cc038;
$colorBlue: #3b67f8;
$colorRed: #c10000;


$colorDarkBlue: #2b1a63;
$colorLightBlue: #6e85b2;